body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }
.navbar .navbar-nav .nav-item a{
  padding: 15px;
}

.navbar .navbar-nav .nav-but{
  padding: 5px;
}

 .navbar-brand img {
    max-width: 70px; 
    height: auto;
  }

.carousel-inner {
    max-height:39rem !important;
}

footer {
    background: #03236e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

.custom-img {
  margin-top: 20px;
  width: 200px;
  }

  .custom-section {
    background-color: #02606d;
  }

  .custom-section p {
    color: white;
  }

  body {
    background-color: #f8f9fa;
  }
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-radius: 5px;
  }
  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    font-weight: 600;
  }
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #c906fa;
    color: #fff;
    font-weight: 600;
  }
  body {
    background-color: #f8f9fa;
  }
  .register-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-radius: 5px;
  }
  .register-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    font-weight: 600;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }

  body {
    background-color: #f8f9fa;
  }
  .recovery-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-radius: 5px;
  }
  .recovery-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    font-weight: 600;
  }
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  .form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #0d63be;
    color: #fff;
    font-weight: 600;
  }
  .recovery-message {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    color: #007bff;
  }

@media (max-width: 1400px) {
  .small-input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1400px) {
  .small-input {
    display: block;
    width: 300px;
    margin-bottom: 10px;
  }
}
.small-input-1{
  width: 80px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 100px; 
}

.container-fluids {
  margin-top: 30px;
  background-color: rgb(40, 25, 25);
}
